<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SnapKit OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SnapKit iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SnapKit tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>537DCE911C35CC8800B5B899</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>537DCEAE1C35D90A00B5B899</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56A0DC081C859E30005973AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEBCC9D719CC627D0083B827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEBCC9E119CC627D0083B827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EECDB3791AC0C9D4006BBC11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EECDB3831AC0C9D4006BBC11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
